@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Raleway:wght@100;300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
width: 100%;
}
.container{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #f5f7f7;
}
.container__left{
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
.site123{
    position:absolute;
    top: 10px;
    left: 10px;
    height: 2.1em;
    width: auto;
}
.container__left--content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
}
.container__left--content h1{
    padding-bottom: 30px;
}
.container__left--content p{
    color: #000;
    text-shadow: none;
    opacity: 0.7;
    padding-bottom: 15px;

}
.container__left--content button{
    color: #FFFF;
    height: 70px;
    margin: 40px 0px 10px;
    padding: 20px 60px;
    border-radius: 5px;
    background-color: #0697f2 ;
    border-color: #0697f2;
    box-shadow: 0 14px 26px -12px rgb(6 151 242 / 42%), 0 4px 23px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(255 155 5 / 20%);
}
.container__left--content button:hover{
    background-color: #337ab7;
    border-color: #2e6da4;
}

.arrow{
    position: relative;
    left: 100px;
}

.container__left--content img{
    height: 118px;
}
.container__right{
    width: 40%;
}
.container__right img{
    width: 100%;
    height: 100vh;
}

.content{
    display: flex;
    padding: 50px 20px;
}
.contentItems1{
    border-right-style: groove;
    width: 33.3%;
    padding: 0px 20px;
}
.contentItems2{
    padding: 10px;
    width: 33.3%;
    padding: 0px 20px;
}
.contentItems3{
    border-left-style: groove;
    padding: 10px;
    width: 33.3%;
    padding: 0px 20px;
}
.des{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}
.name{
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;

}
.title{
    font-size: 14px;
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;

}
.contentItems__star{
}
.contentItems__star img{
    width: 1.2em;
    height: 1.2em;
}
.content__button{
    text-align: center;
    margin: 20px 0px;
}
.content__button button{
    color: #FFFF;
    margin:10px;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #0697f2 ;
    border-color: #0697f2;
    box-shadow: 0 14px 26px -12
}
.content__button button:hover{
    background-color: #337ab7;
    border-color: #2e6da4;
}
.footer{
    font-size: 14px;
    padding: 50px 0px;
    color: #393939;
    text-align: center;
    font-family: 'Raleway', sans-serif;
     background-color: #f5f7f7
}
